.contenedor{
   padding: 10px;
   background-color: rgb(183, 137, 226);
   .navbar{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    
    .container-fluid{
        .navbar-brand{
            color: white;
            font-family: $letraTitulo;
            font-size: 30px;
           }
        }
    }
}
.navbar-nav{
   
    .nav-link{
        font-family: $letraTexto;
        color: white;
        font-weight: bold;
        font-size: 15px;
        
     
        &:hover {
            color:rgb(244, 77, 105);
            font-size: 17px;
            font-weight: bold;
          }
        }
    }
    
