.main {
    img{
        width: 100%;
        }
    .h1{
       font-family: $letraTitulo;
       text-align: center;
       font-size: 50px;
       color: blueviolet;
       
        }
    .h2{
        font-family: $letraTitulo;
        text-align: center;
        font-size: 35px;
        
    }
    .parrafo{
        font-family: $letraTexto;
        font-size: 20px;
        text-align: center;
    }
    .tarjetas{
        display: flex;
        align-items: center;
        justify-content: center;
        .card{
            .card-body{
                .card-title{
                    font-family: $letraTitulo;
                    color: $colorTitulo;
                    font-size: 20px;
                    
                    }
                    
                }
            }
        }
    }
